// VARIABLES
$bodyfont-family: "utopia-std", "Garamond", "Caslon", serif;
$headingfont-family: "Nobel", "Roboto Condensed", sans-serif;
$dinoheadingfont-family: "Roboto Condensed", sans-serif;
$dinobodyfont-family: "Mr Eaves Mod OT", sans-serif;
$conquestbodyfont-family: "Franklin Gothic URW", sans-serif;
$conquestheaderfont-family: "franklin-gothic-urw-cond", "Roboto Condensed",
  sans-serif;
$soothezeheaderfont-family: "poynter-oldstyle-display", serif;
$soothezebodyfont-family: "museo-sans", sans-serif;
 
// VARIABLES 
$color-teal: #005563;
$color-red: #cc1f3d;
$color-yellow: #fec412;
$color-white: #fff;
$color-black: black;
$color-gray: #999;
$color-dino-yellow: #ffcd00;
$color-conquest-orange: #cb7e30;
$color-mcd-yellow: #fdbb20;
$color-zoo-green: #a4dd83;
$color-radiolab-green: #cde700;
$color-sootheze: #f2dea0;
$color-flutter: #fcb614;
$color-andagi:#dac0ae;
$color-light:#e2c179;
$color-naha:#ffb861;
$color-space: #68A3D8;
$color-pele: #FFAA00;

// Breakpoints 

$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

//IMPORT PARTIALS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid_media_query";
@import "partials/structure";
@import "partials/animation";
@import "partials/dino_cs";
@import "partials/conquest_layout"; 
@import "partials/_home.scss";
@import "partials/about_me.scss"; 
@import "partials/mcd.scss";
@import "partials/zoo.scss";
@import "partials/radiolab.scss";
@import "partials/sootheze.scss";
@import "partials/flutter.scss";
@import "partials/andagi.scss";
@import "partials/light.scss";
@import "partials/naha.scss";
@import "partials/solarsystem.scss";
@import "partials/astroday.scss";
@import "partials/pele.scss";