/* #IMAGES */
/* Responsive */
img {
  max-width: 100%;
  height: auto; }

a img {
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  overflow: hidden;
  display: block; }

a img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.work-image a, .swiper-slide a, .conquest-grid a, .radiolab_grid a, .book_first_draft a, .grid a {
  display: block;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

img.circular {
  border-radius: 100%; }

/* VIDEO */
video {
  max-width: 100%;
  height: auto; }
