.hero {
  .conquest {
    background-color: #e2d5bb;
  }
}

// CONQUEST VIDEO PHOTO GRID________
.conquest-grid {
  display: grid;
  padding-top: 5em;
  margin: 0 auto;
  grid-gap: 1em;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    " insta insta insta insta bottle_f bottle_f bottle_f"
    " insta insta insta insta bottle_b bottle_b bottle_b ";

  .insta {
    grid-area: insta;
  }

  .bottle_f {
    margin-left: 1.5em;
    grid-area: bottle_f;
  }

  .bottle_b {
    grid-area: bottle_b;
    margin-left: 1.5em;
    margin-bottom: 5em;
  }
}

// BRAND STRATEGY & COPYWRITING_______________

.brand_strategy,
.copywriting {
  .row {
    align-items: flex-start;
    justify-content: space-between;

    ul li {
      list-style: none;
    }
    .one-third {
      ul {
        padding-left: 0;
      }
    }

    .two-thirds {
      ul {
        padding-left: 0;
      }

      .copywriting_space {
        padding-bottom: 1.5em;
      }
      .branding_space {
        margin-bottom: 2em;
      }

      .no_bottom_margin {
        margin-bottom: 0;
      }
    }
  }
}

.copywriting .brand_strategy {
  padding-top: 0;
  padding-bottom: 0;
}

// design system_____________________
.orange {
  color: $color-conquest-orange;
}

// logo__________
.logo {
  .row {
    justify-content: space-between;
  }
  .final_logo {
    margin-top: 2em;
  }
}

.logo_exploration {
  padding-top: 0;
  .row {
    margin-top: 2em;
    justify-content: space-between;
    align-items: flex-end;
  }
}

// ILLUSTRATIONS_____________________

.bottle_packaging,
.conquest_patterns {
  .row {
    margin-top: 0.5em;
    justify-content: space-between;
  }
}

.space_above {
  margin-top: 2em;
}

.illustrations_conquest{
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr );
  margin: 0 auto;
  place-items: center;
  grid-template-areas:
      ". dragon dragon beer-hand beer-hand ."
      "sword sword sword sword sword sword";

      .dragon{
        grid-area: dragon;
      }

      .beer-hand{
        grid-area: beer-hand;
      }

      .sword{
        grid-area: sword;
      }
}

.conquest_patterns,
.logo_exploration {
  margin-bottom: 2em;
}

// style guide________________

.style_guide {
  background-color: #e2d5bb;

  .row {
    padding-left: 3em;
    justify-content: space-between;
    padding-right: 3em;

    .column {
      padding: 1em;
    }
  }
}
// final packaging_________
.final_packaging {
  .row {
    justify-content: space-between;
  }
}
