// HERO HOMEPAGE_________________________________________

.home-hero {
	background-image: url("img/tomy_logo_home.svg");
	img {
		margin-top: 0;
		padding-top: 0;
	}
}

.quote {
	margin-top: 10em;
	margin-bottom: 20em;

	.yellow-circle {
		border: 5px solid $color-yellow;
		background-color: $color-white;
		border-radius: 50%;
		height: 1.2em;
		width: 1.2em;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	.about_me {
		.small-title {
			border: 1px solid blue;
			margin-top: 5em;
		}

		.button {
		}
	}
}

// work_______________________
#work_gallery {
	h1 {
		margin-bottom: 0.2em;
	}
}

.wrapper {
	overflow-y: scroll;
	height: 60vh;
	margin-bottom: 2em;
	width: 100%;

	.case-studies {
		.row {
			.work_text_home {
				margin-right: -13em;
				top: 50%;
				transform: translateY(-50%);
			}

			.work-image {
				margin-left: 16em;
				margin-bottom: 3em;
			}
		}
	}
}

// Media query_______________________

@media (max-width: $breakpoint-small) {
	// index quote____________
	.quote {
		margin-bottom: 5em;
		margin-top: 3em;
		h1 {
			font-size: 1.7em;
		}
	}

	// index work__________________
	.wrapper {
		height: 50vh;
		margin-bottom: 2em;
		width: 100%;

		.case-studies {
			.row {
				.work_text_home {
					display: block;
					margin-right: 0;
					margin-top: 5em;

					h2 {
						margin-bottom: -0.2em;
					}

					h3 {
						margin-top: -0.2em;
					}
				}
				.work-image {
					margin-left: 0;
					margin-bottom: 1em;
					margin-top: -2em;
				}
			}
		}
	}
}
