/* HERO */
.hero{
    .pele {
        background-color:$color-pele;
        
        a{
            text-decoration: none;
          }
      
          a:hover{
            text-decoration: underline;
            color: $color-red;
          }
    }
}

// THEME________

.brand_strategy{
  .pele_theme{ 
    grid-area: pele_theme;
    margin: 0 auto;

    .theme{
    color: $color-pele-theme;
    text-transform: uppercase;
    }

    hr{
      max-width: 30.5em;
      margin-left: 0;
    }
  }
}