/* HERO */
.hero{
    .pele {
        background-color:$color-pele;
        
        a{
            text-decoration: none;
          }
      
          a:hover{
            text-decoration: underline;
            color: $color-red;
          }
    }
}

// THEME________

.brand_strategy{
  .pele_theme{ 
    grid-area: pele_theme;
    margin: 0 auto;

    .theme{
    color: $color-pele-theme;
    text-transform: uppercase;
    }

    hr{
      max-width: 30.5em;
      margin-left: 0;
    }
  }
}

// ILLUSTRATION__________

.pele_illustration{
  max-width: 35em;
  margin: 0 auto;
}

// SOCIAL MEDIA__________

#social_media{
  margin-top: 2em;
  margin-bottom:2em;
      .insta{
          margin-top: 1em;
       
          .sun-insta-grid {
              display: grid;
              margin: 2em;
              grid-gap: 2em;
              grid-template-columns: repeat(7, 1fr);
              grid-template-areas:
              ". sun_gif sun_gif sun_gif . . ."
              ". sun_gif sun_gif sun_gif sun_insta sun_insta ."
              ". sun_gif sun_gif sun_gif insta_info insta_info ."
              ". sun_gif sun_gif sun_gif . . .";

              .sun_gif {
                  grid-area: sun_gif;
              }   

              .sun_insta{
                  grid-area: sun_insta;    
              }  
          
              .insta_info{
                  grid-area: insta_info;
              } 
          } 
          
          .moon-insta-grid {
              display: grid;
              margin: 2em;
              grid-gap: 2em;
              grid-template-columns: repeat(7, 1fr);
              grid-template-areas:
              ". moon_gif moon_gif moon_gif . . ."
              ". moon_gif moon_gif moon_gif moon_insta moon_insta ."
              ". moon_gif moon_gif moon_gif insta_info insta_info ."
              ". moon_gif moon_gif moon_gif . . .";

              .moon_gif{
                  grid-area: moon_gif;
              }   

              .moon_insta{
                  grid-area: moon_insta;    
              }  
          
              .insta_info{
                  grid-area: insta_info;
              } 
          } 

          .asteroid-insta-grid {
              display: grid;
              margin: 2em;
              grid-gap: 2em;
              grid-template-columns: repeat(7, 1fr);
              grid-template-areas:
              ". asteroid_gif asteroid_gif asteroid_gif . . ."
              ". asteroid_gif asteroid_gif asteroid_gif asteroid_insta asteroid_insta ."
              ". asteroid_gif asteroid_gif asteroid_gif insta_info insta_info ."
              ". asteroid_gif asteroid_gif asteroid_gif . . .";

              .asteroid_gif{
                  grid-area: asteroid_gif;
              }   

              .asteroid_insta{
                  grid-area: asteroid_insta;    
              }  
          
              .insta_info{
                  grid-area: insta_info;
              } 
          } 

          .solar-insta-grid {
              display: grid;
              margin: 2em;
              grid-gap: 2em;
              grid-template-columns: repeat(7, 1fr);
              grid-template-areas:
              ". solar_gif solar_gif solar_gif . . ."
              ". solar_gif solar_gif solar_gif solar_insta solar_insta ."
              ". solar_gif solar_gif solar_gif solar_info solar_info ."
              ". solar_gif solar_gif solar_gif . . .";

              .solar_gif{
                  grid-area: solar_gif;
              }   

              .solar_insta{
                  grid-area: solar_insta;    
              }  
          } 

          @media (max-width: $breakpoint-small){
              .sun-insta-grid, .moon-insta-grid, .asteroid-insta-grid, .solar-insta-grid  {
                  display: block;}
                  
              .sun_gif, .sun_insta, .insta_info,
              .moon_gif, .moon_insta, .asteroid_gif,.asteroid_insta, .solar_gif, .solar_insta{
                  margin-bottom: 1em;
              }
          }
      }

// FACEBOOK___________
  .fb{
      margin-top: 10em;

      .solar-fb-grid {
          display: grid;
          margin: 2em;
          grid-gap: 2em;
          grid-template-columns: repeat(7, 1fr);
          grid-template-areas:
          "mobile_fb mobile_fb mobile_fb . . . ."
          "mobile_fb mobile_fb mobile_fb banner_fb banner_fb banner_fb banner_fb"
          "mobile_fb mobile_fb mobile_fb banner_fb banner_fb banner_fb banner_fb"
          "mobile_fb mobile_fb mobile_fb . . . ."
          ;

          .mobile_fb{
              grid-area: mobile_fb;    
          }  
      
          .banner_fb{
              grid-area: banner_fb;
          } 
      }

      .sun-fb-grid{
          display: grid;
          margin: 2em;
          grid-gap: 2em;
          grid-template-columns: repeat(7, 1fr);
          grid-template-areas:
          "mobile_sun_fb mobile_sun_fb mobile_sun_fb . . . ."
          "mobile_sun_fb mobile_sun_fb mobile_sun_fb banner_sun_fb banner_sun_fb banner_sun_fb banner_sun_fb"
          "mobile_sun_fb mobile_sun_fb mobile_sun_fb banner_sun_fb banner_sun_fb banner_sun_fb banner_sun_fb"
          "mobile_sun_fb mobile_sun_fb mobile_sun_fb . . . ."
          ;

          .mobile_sun_fb{
              grid-area: mobile_sun_fb;    
          }

          .banner_sun_fb{
              grid-area: banner_sun_fb;
          }
      }

      .moon-fb-grid{
          display: grid;
          margin: 2em;
          grid-gap: 2em;
          grid-template-columns: repeat(7, 1fr);
          grid-template-areas:
          "mobile_moon_fb mobile_moon_fb mobile_moon_fb . . . ."
          "mobile_moon_fb mobile_moon_fb mobile_moon_fb banner_moon_fb banner_moon_fb banner_moon_fb banner_moon_fb"
          "mobile_moon_fb mobile_moon_fb mobile_moon_fb banner_moon_fb banner_moon_fb banner_moon_fb banner_moon_fb"
          "mobile_moon_fb mobile_moon_fb mobile_moon_fb . . . ."
          ;

          .mobile_moon_fb{
              grid-area: mobile_moon_fb;    
          }

          .banner_moon_fb{
              grid-area: banner_moon_fb;
          }
      }

      .asteroid-fb-grid{
          display: grid;
          margin: 2em;
          grid-gap: 2em;
          grid-template-columns: repeat(7, 1fr);
          grid-template-areas:
          "mobile_asteroid_fb mobile_asteroid_fb mobile_asteroid_fb . . . ."
          "mobile_asteroid_fb mobile_asteroid_fb mobile_asteroid_fb banner_asteroid_fb banner_asteroid_fb banner_asteroid_fb banner_asteroid_fb"
          "mobile_asteroid_fb mobile_asteroid_fb mobile_asteroid_fb banner_asteroid_fb banner_asteroid_fb banner_asteroid_fb banner_asteroid_fb"
          "mobile_asteroid_fb mobile_asteroid_fb mobile_asteroid_fb . . . ."
          ;

          .mobile_asteroid_fb{
              grid-area: mobile_asteroid_fb;    
          }

          .banner_asteroid_fb{
              grid-area: banner_asteroid_fb;
          }
      }

      @media (max-width: $breakpoint-small){

          .solar-fb-grid, .sun-fb-grid, .moon-fb-grid, .asteroid-fb-grid {
              display: block; 
          }

          .mobile_fb, .banner_fb, .mobile_sun_fb,.banner_sun_fb, .mobile_moon_fb, .banner_moon_fb,.mobile_asteroid_fb, .banner_asteroid_fb {
              margin-top: 1.5em;
          }
      }

  }
} 

// MEDAL AND TROPHY________

.pele_medals{
  margin-top: 10em;

  img{
    margin-top: 2em;
    margin-bottom: 4em;
  }
}