/* HERO */
.hero{
    .pele {
        background-color:$color-pele;
        
        a{
            text-decoration: none;
          }
      
          a:hover{
            text-decoration: underline;
            color: $color-red;
          }
    }
}
