/* HERO */
.hero{
    .solar {
        background-color:$color-zoo-green;
    }
}

// SOLAR VIDEO PHOTO GRID________
.solar-grid {
	display: grid;
    padding-top: 4em;
	margin: 0 auto;
	grid-gap: 1em;
	grid-template-columns: repeat(8, 1fr);
	grid-template-areas:
		" . sun sun mercury mercury venus venus ."
        "earth earth mars mars asteroid asteroid jupiter jupiter"
        " saturn saturn uranus uranus neptune neptune pluto pluto";

    // grid-template-columns: repeat(6, 1fr);
	// grid-template-areas:
	// 	" . sun sun mercury mercury . "
    //     "venus venus earth earth mars mars"
    //     "asteroid asteroid jupiter jupiter saturn saturn"
    //     "uranus uranus neptune neptune pluto pluto";

	.sun {
		grid-area: sun;
	}

	.mercury {
		grid-area: mercury;
	}

	.venus {
		grid-area: venus;
	}

    .earth {
		grid-area: earth;
	}

	.mars {
		grid-area: mars;
	}

	.asteroid {
		grid-area: asteroid;
	}

    .jupiter {
		grid-area: jupiter;
	}

	.saturn {
		grid-area: saturn;
	}

    .uranus{
		grid-area: uranus;
	}

	.neptune {
		grid-area: neptune;
	}

    .pluto {
		grid-area: pluto;
	}
}

@media (max-width: $breakpoint-small){

    .solar-grid {
        display: block;
        margin-top: 1em;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
            " . sun sun mercury mercury venus venus ."
            "earth earth mars mars asteroid asteroid jupiter jupiter"
            " saturn saturn uranus uranus neptune neptune pluto pluto";

        // grid-template-columns: repeat(6, 1fr);
        // grid-template-areas:
        //     " . sun sun mercury mercury . "
        //     "venus venus earth earth mars mars"
        //     "asteroid asteroid jupiter jupiter saturn saturn"
        //     "uranus uranus neptune neptune pluto pluto";
    
        .sun, .mercury, .venus, .earth, .mars, .asteroid, .jupiter, .saturn, .uranus, .neptune, .pluto{
            margin-top: .5em;
        }

        .sun {
            grid-area: sun;
        }
    
        .mercury {
            grid-area: mercury;
        }
    
        .venus {
            grid-area: venus;
        }
    
        .earth {
            grid-area: earth;
        }
    
        .mars {
            grid-area: mars;
        }
    
        .asteroid {
            grid-area: asteroid;
        }
    
        .jupiter {
            grid-area: jupiter;
        }
    
        .saturn {
            grid-area: saturn;
        }
    
        .uranus{
            grid-area: uranus;
        }
    
        .neptune {
            grid-area: neptune;
        }
    
        .pluto {
            grid-area: pluto;
        }
    }
}
  
//   ILLUSTRATION
.illustration{
    margin-top: 2em;
}

  /* ANIMATIONS */
  
  .animation {
      margin-top: 10em;
  }
  
  /* UI DESIGN */
  
  .final_ui {
    img {
      margin-top: 1em;
    }
  }
  
  // dino button_bottom______________
  .final_image_bottom {
    .button {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  