/* Main Sections */
section {
    padding: 3em 0;
    display: -ms-grid;
    display: grid;
}
/* place-items: center; } */  

/* LINKS _________________________________*/
/* Horizontal Rules */
.hr_ {
  border: 0;
  height: 1px;
  background: $color-black;
  margin: 4em 0; 
}
  
  /* HELPERS _________________________________*/


.sectionhead:after {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-top: .2em; 
}

.text-centered {
  text-align: center;
}

.subheader {
  color: $color-gray;
  margin-top: 1em;
  font-style: normal;
  font-weight: normal;
  clear: both;
}

/* site-header ________________________________*/
.site-header, .site-footer{
  padding: 1em;
  color:$color-teal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; 

  h1 {
    font-size: 1.5em;
    font-family: $headingfont-family;
    margin: .5em 0 0 0;
    /*to adjust baseline with nav text*/ 
  }
  
  a{
    color: $color-teal;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase; 
  }
}
@media (min-width: $breakpoint-small) {
  .site-header {
    padding-top: 1em;
  }
}


/* site-id ____________________________-*/

.site-id img{
width: 7em;
height: auto;
}

  
/*PAGE NAV ___________________________________*/
  
.page-nav{
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;

  .yellow-circle{
    border: 3px solid $color-yellow;
    background-color: $color-white;
    border-radius: 100%;
    margin-bottom: 0;
    
  }

  .nav-revealer{
    opacity:0;
    margin-left: -5em;
    position: absolute;
    z-index:200;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: .3em;
    margin-top: -.5em;
  }

  .yellow-circle:hover{
    background-color: $color-yellow;

    .nav-revealer{
      background-color: $color-white;
      margin-left: -8.5em;
      opacity: 1;
      padding: .3em;
      margin-top: -.5em;
      z-index:200;
      position: absolute;
      transition: all .4s ease;
    }
  }

  a{  
    text-decoration: none;
    color: $color-teal;
  }
  
  ul {
    margin: 0;
  }

  ul li {
    display: block;
    font-family: $headingfont-family;
    padding-top: 2em;
    padding: 1em 0;
    padding-right:.6em;
  }

  ul li:hover, a.active  { 
    .yellow-circle{
      background-color: $color-yellow;
    }
  }
}

/* OBJECTIVE _______________________*/
  
.objective { 
  margin: 0 auto;
  padding: 0;

  .row{

    align-items: flex-start;
    border-bottom: 2px dashed $color-red;
    padding-bottom: 3em;
    justify-content: space-between;
  }

.one-third{
  margin-right: 1em;
    ul{
      padding-top: 1em;
      margin-top: 1em;
      padding-left: 0;
    li:before{
      content: "\26AC";
      color: $color-yellow; 
      display: inline-block;
      width: 1.5em; 
      padding-top: 0;
    }
  }
 
  }

  .short{
    max-width: 17em;
  }

  hr{
    margin-top: 1em;
    margin-bottom: -1em;
    border-top:2px dashed $color-red;
    width: 16em;
    margin-left: 0;
  }
}

/* DESIGN SYSTEM___________________________*/

.type_specimen {
  // margin-top: 4em;

  .row{
  align-items: flex-start;
  justify-content: space-between;
  }
  
  img{
    margin-top: 1em;
  }
}

// FINAL PRODUCT____________________________
.final_product{
  margin-top: 0;
}

/* BUTTONS ON BOTTOM TOGGLE NEXT PAGE */
  
.text-centered {
display: flex;
justify-content: space-between;
padding-top: 0;
margin-top: 0;
margin-bottom: 2em;

.arrow{
  padding: .2em;
  font-size: 2em;
}
  a{
    align-content: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 300;
    font-family: $headingfont-family; 
    text-decoration: none;
    color: $color-teal;
  }

  a:hover {
   font-weight: 700;
  }
}




// FOOTER ______________________________________

.footer{
    border-top:2px dashed $color-red;
margin-bottom: 5em;

  .row{
    justify-content: space-between;
    align-items: flex-start;

    .one-third{
      margin-top: 2em;
      margin-right: 0;
      text-align: center;
    }

    .one-half{
      margin-top: 2em;
      margin-right: 0;
      text-align: center;
 
    }
    h1{
      margin-top:.3em;
      font-weight: 700;
    }

    p{ 
      color: $color-teal;
      text-align: center;
      margin:0 auto;
    }

    a{
      text-decoration: none;
    }
  }

}

// STUFF I ADDED _____________________

* { box-sizing: border-box; }
 .site-header .container {
  padding: 1em .5em;
  color: $color-teal;
}

@media (min-width: 768px) {
  .site-header {
      display: flex;
      justify-content: space-between;
  }
}

.site-header a {
  text-decoration: none;
}

/* SITE ID (LOGO) */
.site-id h1 {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

.site-id a {
  display: inline-block;
  padding: .25em 0;
}

/* SITE ID (LOGO) */
.site-id h1 {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

.site-id a {
  display: inline-block;
  padding: .25em 0;
}

/* SITE NAV (Primary Top Nav) */
.site-nav {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 80%;
}
.site-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: $headingfont-family; 
}

.site-nav li {
  list-style: none;
}

.site-nav a {
  display: block;
  padding: .5em 1em;
}

/* MENU BUTTON */
.menu-button {
  position: absolute;
  left: -9999px;
  padding: .5em;
}
.menu-button:hover {
  cursor: pointer;
}
.menu-button::selection {
  color: none;
  background: none;
}

/* TOGGLE-NAV */

@media (max-width: 767px) {

  .toggle-nav .site-id h1 {
      text-align: left;
  }

  .toggle-nav .menu-button {
      position: absolute;
      left: auto;
      top: 1em;
      right: 1.5em;
  }

  .toggle-nav .site-nav {
      text-align: center;
  }

  /* HIDE NAV ON SMALL SCREENS BY DEFAULT */
  .toggle-nav .site-nav ul {
      position: absolute;
      left: -9999px;
      margin-top: 2.5em;
  }

  /* SHOW NAV ON SMALL SCREENS WHEN EXPANDED CLASS IS TOGGLED */
  .toggle-nav.expanded .site-nav ul {
      position: static;
      left: auto;
      display: block;
  }
  .toggle-nav.expanded .site-nav a {
      background-color: $color-teal;
      color: white;
      margin: .5em 0;
      padding: 1em;
      justify-content: space-between;
  }

  .toggle-nav.expanded .site-nav a:hover {
      background-color: $color-white;
      color: $color-teal;
  }

  /* ANIMATING THE TOGGLE NAV */
  .toggle-nav .site-nav ul {
      transition: all 1s ease;
      max-height: 0;
  }

  .toggle-nav.expanded .site-nav ul  {
      max-height: 400px;
  }

}

/* NAVICON */

.navicon {
  color: rgba(0,0,0,0);
  padding: 0;
}
.navicon::after {
  content: "\2630";
  color: $color-teal;
  display: inline-block;
  font-size: 1.5em;
  transform: rotate(0deg);
}

.expanded .navicon::after {
  content: "\2715";
  transform: rotate(-90deg);
  transition: transform .4s ease-out;
}


/* HELPERS */
@media(min-width:768px){
  .hideonlarge {
      visibility: hidden;
  }
}
